# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS resource fork files
Icon?
._*

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux system files
.directory

# General temporary files
*.swp
*.swo
*.tmp

# data sub-dirs:
data/eeg-data
data/fixation-data
data/original_images
data/pupil-data
data/screenshots

# files in data folder
data/justifications_on_top_three_choices.txt
data/trials_info.csv
